<!doctype html>
<!doctype html>
<html lang="en">
<head>
    <title>Main page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        function delayer(){
            window.location = "/main"
        }
    </script>
</head>
<body onLoad="setTimeout('delayer()', 3000)">
<div class="container">
<img src="../images/part1.png" class="animated fadeIn" id="foto1" alt="logopart1"/>
<img src="../images/part2.png" class="animated2 fadeIn" id="foto2" alt="logopart1"/>
<img src="../images/part3.png" class="animated3 fadeIn" id="foto3" alt="logopart1"/>
    <h1 class="animated4 fadeIn">Local Scouter</h1>
    </div>




</body>
</html>
