<!doctype html>
<!doctype html>
<html lang="en">
<head>
    <title>Main page</title>
    <link href="http://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body class="animated fadeIn">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="/main">Brand</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <li style="text-align:center; color:white; font-size:30px;list-style-type:none;">Main</li>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <<li><a href="/top10region">Top 10 Region</a></li>
            <li><a href="/top10Overal">Top 10 Overal</a></li>
            <li><a href="/uploadfoto">Upload a Foto</a></li>
        </ul>

    </div>
</nav>
<div class="container">
<div class="polaroid">
    <p>Sarah, Dec '02</p>
    <img src="http://www.telegraph.co.uk/travel/destination/article130148.ece/ALTERNATES/w620/parisguidetower.jpg">
</div>
    <button type="submit" class="button-left">Known</button>
    <button type="submit" class="button-right">Unknown</button>
<div class="polaroid">
    <p>Sarah, Dec '02</p>
    <img src="http://media1.santabanta.com/full1/Countries/Places/places-77v.jpg">
</div>
    <button type="submit" class="button-left">Known</button>
    <button type="submit" class="button-right">Unknown</button>
</div>

</body>
</html>
